<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Files</title>
		<link rel="stylesheet" href="/public/index.css">
	</head>
	<body>
		<div id="dropanywhere" class="dropanywhere">
			<div>
				<div>
					Drop files anywhere to upload.
				</div>
			</div>
		</div>
		<div class="content">
			<form id="uploadform" action="/upload" method="post" enctype="multipart/form-data">
				<label>
					Upload File(s):
					<input id="upload" type="file" name="upload" multiple>
					<button id="jsdelete">Upload!</button>
				</label>
			</form>
			<form action="/info" method="get" enctype="multipart/form-data">
				<input placeholder="code" type="text" name="id">
				<button>Download!</button>
			</form>
		</div>
		<div id="uploading" class="uploading fullscreen">
			<div>
				Uploading...
			</div>
		</div>
		<script src="/public/index.js" charset="utf-8"></script>
	</body>
</html>
